.selectLevelElement {
    -fx-background-color: #0d3852;
}

.storyTitle {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box , #0b2b3f , 1, 0.5 , 0 , -2);
}

.storySubtitle {
    -fx-text-fill: white;
}

.btnPlayLevel {
    -fx-alignment: CENTER;
    -fx-background-color: #e92b2d;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-content-display: LEFT;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.btnPlayLevel:hover {
    -fx-background-color: #bd1418;
}