.root {
    -fx-background-image: url('../../assets/Fond.png'), url('../../assets/Fond%20logo%20home.png');
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center, top center;
}