.root {
    -fx-background-image: url('../../assets/Fond.png'), url('../../assets/Fond%20logo%20level.png');
    -fx-background-repeat: repeat, no-repeat;
    -fx-background-position: center, top left;
}

.selectLevelElement {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 1, 0.0, 4, 4);
}